<!DOCTYPE html>
<html>
<head>
  <title>eInk Radiator</title>
  <script src="/lib/jquery/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <script src="/lib/jquery-dragndrop/jquery.dragndrop.js"></script>
  <link rel="icon" type="image/png" id="favicon" href="/static/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>

  <!-- Image source details -->
  <div id="image_source_details" class="ui modal">
    <div class="header">Image Source Configuration</div>
    <div class="image content">
      <div class="ui segment">
        <div class="ui disabled dimmer">
          <div class="ui indeterminate text loader">Remaking image</div>
        </div>
        <img class="ui bordered screen image" src="">
      </div>
      <form class="ui equal width configuration form"></form>
    </div>

    <div class="actions">
      <button class="ui right labeled icon show button">
        Show
        <i class="window maximize outline icon"></i>
      </button>
      <button class="ui primary right labeled icon save button" type="submit">
        Save
        <i class="save icon"></i>
      </button>
      <div class="ui positive right labeled icon done button">
        Done
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

  <!-- Slideshow interval -->
  <div id="slideshow_details" class="ui modal">
    <div class="header">Slideshow Configuration</div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Interval</label>
          <div class="ui right labeled input">
            <input type="number" name="interval" min="60" max="3600" value="60" />
            <div class="ui basic label">00:00:00</div>
          </div>
        </div>
      </form>
    </div>

    <div class="actions">
      <button class="ui black deny button" type="submit">
        Cancel
      </button>
      <button class="ui primary right labeled icon save button" type="submit">
        Save
        <i class="save icon"></i>
      </button>
    </div>
  </div>

  <!-- Menu bar -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <i class="inverted expand icon"></i>
        eInk Radiator
      </a>
      <div class="ui simple dropdown item">
        New Image Source <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Blank</a>
          <a class="item" href="#">Text</a>
          <a class="item" href="#">Weather</a>
          <a class="item" href="#">Image</a>
        </div>
      </div>

      <div class="right palette item">
{% for color in palette %}
        <i style="background-color: {{ color }};"></i>
{% endfor %}
      </div>
    </div>
  </div>

  <!-- Slideshow controls -->
  <div class="ui main container">
    <h2 class="ui header">Active Slides</h2>
    <div class="ui controls content">
      <button class="ui right floated button" id="slideshow_timer">00:00:00</button>
      <button class="ui icon previous button">
        <i class="step backward icon"></i>
      </button>
      <button class="ui disabled icon button">
        <i class="pause icon"></i>
      </button>
      <button class="ui icon next button">
        <i class="step forward icon"></i>
      </button>
    </div>

    <!-- Slides -->
    <div id="slideshow_list" class="ui middle aligned horizontal divided selection list">
{% for image_source in slideshow.image_sources %}
      <div id="image_source_{{ image_source.id}}"
           class="image_source slideshow item {% if image_source == slideshow.active_image_source %}selected{%endif%}">
        <img class="ui bordered thumbnail image" src="/image_sources/{{ image_source.id}}/image.png" />
        <div class="content">
          {{ image_source.configuration.data.name.value }}
        </div>
      </div>
{% endfor %}
    </div>

    <!-- Slides -->
    <div id="screen_content" class="ui segment">
      <div class="ui disabled dimmer">
        <div class="ui indeterminate text loader">Screen is busy</div>
      </div>
      <img class="ui centered bordered screen image" src="/screen/image.png" />
      <h4 class="ui center aligned header">{{ width }} &times; {{ height }}</h4>
    </div>

  </div>
  <script>
    const palette = [{% for color in palette %}'{{ color }}',{% endfor %}]
    const transforms = [{% for transform in transforms %}'{{ transform }}',{% endfor %}]
    const initial_time_remaining = {{ time_remaining }}
  </script>
  <script src="/static/image_source_details.js"></script>
  <script src="/static/screen.js"></script>
  <script src="/static/slideshow.js"></script>
  <script src="/static/socket.js"></script>
</body>
</html>