.ui.menu .item i {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 7em;
}

.screen, #image_source_details .screen {
  height: {{ height }}px;
  width: {{ width }}px;
}

.thumbnail {
  height: {{ height / 10 }}px;
  width: {{ width / 10 }}px;
}

.ui.selection.list>.selected.slideshow.item {
  background-color: lightgrey;
}

.menu .palette i {
  border: 1px solid grey;
  height: 1em;
  width: 1em;
}
